{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'main\css\style.css' %}" />
    <title>Менеджер IT-проекта</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <a class="logo" href="{%url 'index' %}">Менеджер IT-проекта</a>
        </nav>
    </header>
    <div class="side-nav nav">
        <a href="{%url 'needable' %}">
                <p>Востребованность</p>
        </a>
        <a href="{%url 'geography' %}">
                <p>География</p>
        </a>
        <a href="{%url 'skills' %}">
                <p>Навыки</p>
        </a>
        <a href="{%url 'vacancies'%}">
                <p>Последние вакансии</p>
        </a>
    </div>
    <main class="body-main">
        <section class="main-content">
            <h1 class="main-zagolovok">Менеджер IT-проекта</h1>
            <p class="intro">
                Менеджер проектов.
Он же project manager или PM. отвечает за реализацию бизнес-идей. Участвует во всех
этапах жизни проекта: начиная от разработки концепта или продумывания идеи до
презентации готового продукта. Хороший PM направляет все свои усилия и
менеджерские навыки на то, чтобы проект был готов в указанный срок и
соответствовал требованиям заказчика. А список его задача обширен. Например он
собирает и структурирует требования по проекту. Чтобы грамотно выстроить работу
над проектом, нужно понимать, каким его хотят видеть и какие проблемы должны
быть решены. Подробно расспрашивает заказчика о проекте и расставляет приоритеты:
самые важные функции, которые должны быть у продукта, каким образом планируется
привлекать и удерживать клиентов, есть ли интересные решения на рынке, которые
можно использовать в работе.Составляет план работы.Четкий проработанный план
позволит избежать двойной работы, покажет команде всю структуру создания проекта
и то, как задачи будут распределены по времени. Собирает команду.Идеально для PM,
когда получается собрать команду из самых нужных людей, каждый из которых
является профессионалом в своей области. Находит подрядчиков.В крупных проектах
может участвовать не только команда специалистов компании, но и сторонние
исполнители, многие задачи в IT все чаще отдают на аутсорс. Проджект-менеджер
отвечает и за поиск, и за постановку задач подрядчикам.Ставит задачи и контролирует
их выполнение. Есть даже несколько концепций, например SMART. Так как
исполнители должны понимать конечный результат своей работы и получать полную
информацию по задачам.Следит за бюджетом.Бюджет определяет прибыль и
стоимость проекта для компании. Любое увеличение суммы, необходимой для работы,
нужно обосновать заказчику, а прогноз прибыли требует качественной
аналитики.Ведет документацию.В нее входят план проекта, техзадание, структура
работы и документы по ее оценке. С каждым изменением стоит обновлять
информацию в документах.Поддерживает команду.Поддержка команды — это не
только распределение нагрузки, но и поиск правильного подхода к каждому ее члену, а
также мотивация сотрудников. Презентует результаты проекта заказчику или
руководству.Важно представлять не только итоговые, но и промежуточные результаты
работы: это поможет сформировать единое видение насчет продукта и не уйти в
неверном направлении в работе.
            </p>
            <img src="{% static 'main/img/photos.jpg' %}" alt="Умный анализ" class="photo-1">
        </section>
    </main>
    <footer class="main-footer">
        <p class="name">Шарашенидзе Артур Манучарович</p>
        <p class="group">РИ - 210914</p>
    </footer>
</body>
</html>